---
---

.backgroundImage {
    background: url('{{ site.baseurl }}public/img/DeerhubHome2.jpg') no-repeat center center fixed; 
    background-size: contain; 
    height: 100%; 
    position: absolute; 
    z-index: -1; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    opacity: 0.1;
}
.contact-info {
    margin: 8px;
    text-align: center;
    vertical-align: bottom;
    height: 54px;
}
.contact-info a {
    margin: 4px;
    padding: 4px;
    vertical-align: bottom;
    opacity: .5;
}
.sidebar-about p {
    padding: 8px;
    font-size: 16pt;
}
/* .contact-info a:hover {
} */
.contact-info img {
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
    padding: 8px;
    width: auto;
    height: 90%;
    opacity: .5;
    border: 2px outset #111;
    border-radius: 8px;
}
.contact-info img:hover {
    background-color: #333;
    border: 2px outset #555;
    opacity: 1.0;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    /* STYLES GO HERE */
}

p.img {
    display: inline-block;
}